language: rust
matrix:
  include:
    - name: "miri"
      rust: nightly
      script:
        - rustup toolchain install nightly-2019-11-23
        - rustup default nightly-2019-11-23
        - rustup component add miri
        - cargo miri setup
        - cargo miri test
    - name: "debug"
      rust: stable
      script:
        - cargo build --no-default-features
        - cargo test --verbose --all
